@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("./stylesheets/noise.css");
@import url("./stylesheets/youTubePlayer.css");

/* Global Styles */
* {
  font-family: "Poppins", monospace;
  text-align: center;
  color: #222222;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none;
  min-height: 100vh;
  overflow-x: hidden;
}

main.container-cards {
  width: 100%;
  height: auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.container-cards .new-card {
  border: solid 1px rgb(207, 207, 207);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}
.container-cards .new-card:hover {
  box-shadow: 2px 2px 10px rgb(207, 207, 207), -2px -2px 10px rgb(207, 207, 207);
}

.new-card h1,
.new-card h2,
.new-card h3,
.new-card h4,
.new-card span,
.new-card i,
.new-card p {
  text-align: left;
}
.new-card .image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.new-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-card .info-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.new-card .info-container h2 {
  font-size: 1rem;
}
.new-card .info-container p {
  font-size: 0.9rem;
}
.new-card .info-container span {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.new-card .info-container i {
  margin-bottom: 0.5rem;
}

.new-card .call-to-action button {
  border: none;
  background: dodgerblue;
  padding: 0.5rem 0.7rem;
  color: #fff;
  cursor: pointer;
  border-radius: 2rem;
}
.new-card .call-to-action button:hover {
  box-shadow: 2px 2px 4px rgb(207, 207, 207), -2px -2px 4px rgb(207, 207, 207);
}

/*   MODAL   */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
.modal-bg.turned-on {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}
.modal-bg .modal-card {
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 20;
  overflow-y: scroll;
  box-shadow: 4px 4px 10px rgb(121, 120, 120), -4px -4px 10px rgb(121, 120, 120);
}

.modal-bg .modal-card.no-scroll {
  overflow-y: hidden;
}

.modal-card h2,
.modal-card p,
.modal-card i {
  text-align: left !important;

  margin: 1rem 0;
}
.modal-card .modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.modal-header .modal-image,
.modal-header .modal-title {
  width: 49%;
  height: 100%;
  overflow: hidden;
}
.modal-header .modal-title {
  padding: 1rem;
}

.modal-header .modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-card div.modal-close-container {
  position: fixed;
  top: 12%;
  right: 12%;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
  height: 2rem;
  border-radius: 2rem;
}

.modal-card i {
  margin: 0;
  font-size: 2rem;

  top: 0;
  left: 0;
  color: dodgerblue;
  cursor: pointer;
  pointer-events: all;
  background-color: rgb(255, 255, 255);
}

div.pixel {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #222222;
  z-index: 10;
}

/* Mobile layout */
@media (max-width: 600px) {
  body {
    font-size: 60% !important;
  }
  main.container-cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  main.container-cards .new-card {
    width: 100%;
    height: auto;
  }

  .modal-card .modal-header {
    flex-direction: column;
  }
  .modal-header .modal-image,
  .modal-header .modal-title {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  div.pixel {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #222222;
    z-index: 10;
  }
}
