div.pixels-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

div.pixel {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #222222;
  z-index: 10;
}

/* Mobile layout */
@media (max-width: 600px) {
  div.pixel {
    width: 10px !important;
    height: 10px !important;
  }
}
